{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "import/extensions": ["error", "always"],
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "class-methods-use-this": "off"
    }
}
